.landing-contact-section{
    position: absolute;
    z-index: 10;
    bottom: 3%;
    right: 3%;
    img{
        width: 60px;
        background-color: green;
        padding: 10px;
        border-radius: 50%;
    }
}